
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-image: url("https://www.google.com/search?q=free+workout+images&rlz=1C1SQJL_enUS895US896&sxsrf=ALeKk02E2mTFYGmBmB6lLExZcosMrcjiNA:1593401916713&tbm=isch&source=iu&ictx=1&fir=1JEUzJHmM6ZjHM%252C-XD20xhPyi7cwM%252C_&vet=1&usg=AI4_-kQraz-ciZc6cvWwY3u5sYty77CGRQ&sa=X&ved=2ahUKEwiRjevZjKbqAhVRnOAKHQ7zBVoQ9QEwAHoECAoQIw#imgrc=1JEUzJHmM6ZjHM");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


form {
  border: 2px solid black;
  border-radius: 5%;
  margin-left: 1%;
  padding: 2%;
  line-height: 0.2;
  text-align: center;
  
}
button {
  margin: auto;
  padding: 1%;
  background-color: #FF6900;
  border-radius: 3px;
  border-color: black;
}
.Main-Header {
  display: block;
  text-align: center;
  font-size: larger;
}
nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 5%;
  border-bottom: 1px solid #FF6900;
  
}
nav a {
  display: flex;
  margin: auto;
  flex-flow: row nowrap;
  text-decoration: none;
  color: black;
  justify-content: space-evenly;
}
a:hover {
  color: #FF6900;
}
.Main-Container {
  width: 100%;
  flex-flow: row wrap;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10%;
}
section h1 {
  padding: 5%;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-family: 'Barrio';
  font-size: 22px;
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  padding: 5%;
}
.Mission-Content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding-top: 10%;
}
.Mission-Content h2 {
  display: block;
  margin: auto;
  
}
.Mission-Content li {
  display: flex;
  flex-flow: row nowrap;
  margin: 3%;
  align-items: center;
  font-size: x-large;
  color: #FF6900;
}
.Person {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  line-height: 2;
  border: 2px solid grey;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.Person h3 {
  text-decoration: underline;
  font-size: medium;
}
.Person p {
  padding: 4%;
}
.Fitness-Levels {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 10%;
}
.Fitness-Levels .FitnessHeader{
  font-size: larger;
  margin: auto;
  display: flex;
  
}
.Fitness-Levels h2 {
  font-size: medium;
  margin: auto 0;
}
.Fitness-Levels p {
  width: 98%;
}
.Fitness-Levels h2 .FitnessHeader {
  margin: auto;
}
.Fitness-Levels h2 .FitnessHeader div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
footer p {
  text-align: center;
}
footer img{
  width: 30%;
  display:flex;
  flex-flow: row nowrap;
  justify-items: space-between;
}
.Copyright {
  justify-content: center;
}

@media(max-width: 500px) {
 html{
  background-color: grey;
 }
 .Main-Container {
   background-image: image('photo-tall-treeline.jpg');
 }
 nav a {
  color: white;
 }  
 h2 {
   color: #FF6900;
 } 
 p {
   color: white;
 }
 .Person {
  border: 2px solid #FF6900;
 }
 .Goals-Img { 
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-evenly;
 }
}


