/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@media (min-width: 500px) {
  html,
  body {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
}
button {
  margin: auto 0;
  background-color: #FF6900;
  border-radius: 1rem;
  border-color: black;
}
form {
  border: 2px solid black;
  border-radius: 5%;
  margin-left: 5%;
  padding: 2%;
  line-height: 0.2;
}
nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
nav a {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-left: 15%;
  text-decoration: none;
  color: black;
  justify-content: space-evenly;
}
nav:hover {
  color: #FF6900;
}
section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10%;
}
section h1 {
  padding: 5%;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-family: 'Barrio';
  font-size: 22px;
  text-decoration: underline;
  font-size: 2rem;
  text-align: center;
  margin: auto 0;
  padding: 5%;
}
.Mission-Content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: auto 0;
}
.Mission-Content h1 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mission-Content li {
  display: flex;
  flex-flow: nowrap;
  margin: 5%;
  justify-items: center;
  font-size: x-large;
  color: #FF6900;
}
.Fitness-Levels {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: auto 0;
}
.Fitness-Levels h2 {
  font-size: medium;
  margin: auto 0;
}
.Fitness-Levels h2 p {
  text-align: right;
}
.Fitness-Levels h2 .FitnessHeader {
  margin: auto;
}
.Fitness-Levels h2 .FitnessHeader div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.Fitness-Levels header {
  background-image: url('photo-tall-treeline.jpg');
}
header h1 .Main-Header2 {
  margin: auto 0;
  text-align: center;
  font-size: 3rem;
}
.Main-Container {
  width: 100%;
  flex-flow: row wrap;
  margin: 5%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Person {
  width: 45%;
  display: flex;
  line-height: 2;
}
